@import "./variables";
// Import base styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg-intro-mobile.png), $Red;
  font-family: $font;
  font-size: $baseFont;
  min-height: 100vh;
  padding: 3rem 2rem;
}

main {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  section {
    // border: 1px solid green;
    width: 100%;
    padding: 2rem 1rem;
  }
}

.intro {
  text-align: center;
  color: $White;
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  p {
    //   border: 1px solid white;
    margin: 1.5rem 1rem 0rem 1rem;
    font-size: 1.2rem;
  }
}

.form-wrapper {
  .container {
    text-align: center;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    // border: 1px solid $White;
    background-color: $Blue;
    color: $White;
    border-radius: 15px;
    span {
      font-weight: bold;
    }
  }
  .form {
    border: 1px solid $White;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: $White;
    input {
      width: 100%;
      border: 1px solid $Grayish-Blue;
      border-radius: 5px;
      padding: 1rem;
      // margin: 0.5rem 0;
      &::placeholder {
        color: $Dark-Blue;
        font-weight: bold;
        font-family: $font;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      width: 100%;
      // margin: 2rem;
      padding: 1rem;
      font-family: $font;
      background-color: $Green;
      color: $White;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
    p {
      display: block;
      text-align: center;
      margin: 1rem 0;
      font-size: 1rem;
      color: $Grayish-Blue;
      a {
        text-decoration: none;
        color: $Red;
        font-weight: bold;
      }
    }
  }
}

.form-control {
  // margin: 1rem 1rem 0 1rem;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  // border: 1px solid black;
  text-align: right;
  position: relative;
  small {
    // visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    color: $Red;
    font-weight: bold;
    font-size: 0.5rem;
    visibility: hidden;
  }
}

.form-control input.error {
  border: 2px solid $Red;
}

.form-control input.success {
  border: 1px solid $Green;
}

// Desktop-specific styles
@media (min-width: 768px) {
  // Adjust layout, font sizes, spacing, etc. for desktop view
  body {
    background: url(../images/bg-intro-desktop.png), $Red; // Replace with your desired image URL

    main {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .intro {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

#kumar {
  text-decoration: none;
  color: white;
}
