@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Import base styles */
/* Reset default margin, padding, and box-sizing for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styling for the body element */
body {
  /* Set background image and color for the body */
  background: url(../images/bg-intro-mobile.png), hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif; /* Use the defined font family */
  font-size: 16px; /* Use the defined base font size */
  min-height: 100vh;
  padding: 3rem 2rem;
}

/* Styling for the main content container */
main {
  display: flex;
  flex-direction: column;
  /* Styling for sections within the main content */
}
main section {
  width: 100%;
  padding: 2rem 1rem;
}

/* Styling for the introduction section */
.intro {
  text-align: center;
  color: whitesmoke;
  /* Styling for the heading within the introduction section */
  /* Styling for paragraphs within the introduction section */
}
.intro h1 {
  font-size: 2rem;
  line-height: 1.2;
}
.intro p {
  margin: 1.5rem 1rem 0rem 1rem;
  font-size: 1.2rem;
}

/* Styling for the form wrapper section */
.form-wrapper {
  /* Styling for the container within the form wrapper */
  /* Styling for the form within the form wrapper */
}
.form-wrapper .container {
  text-align: center;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background-color: hsl(248, 32%, 49%);
  color: whitesmoke;
  border-radius: 15px;
  /* Styling for bold text within the container */
}
.form-wrapper .container span {
  font-weight: bold;
}
.form-wrapper .form {
  border: 1px solid whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: whitesmoke;
  /* Styling for input fields within the form */
  /* Styling for the submit button */
  /* Styling for additional text within the form */
}
.form-wrapper .form input {
  /* Set input width and styling */
  width: 100%;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  padding: 1rem;
  /* Styling for placeholder text */
}
.form-wrapper .form input::-moz-placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.form-wrapper .form input::placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.form-wrapper .form input:focus {
  outline: none; /* Remove default focus outline */
}
.form-wrapper .form button {
  /* Set button width and styling */
  width: 100%;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: hsl(154, 59%, 51%);
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.form-wrapper .form p {
  display: block;
  text-align: center;
  margin: 1rem 0;
  font-size: 1rem;
  color: hsl(246, 25%, 77%);
  /* Styling for links within the paragraph */
}
.form-wrapper .form p a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}

/* Styling for form control elements */
.form-control {
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  text-align: right;
  position: relative;
  /* Styling for error messages */
}
.form-control small {
  position: absolute;
  bottom: 0;
  right: 0;
  color: hsl(0, 100%, 74%);
  font-weight: bold;
  font-size: 0.5rem;
  visibility: hidden;
}

/* Styling for input elements with error class */
.form-control input.error {
  border: 2px solid hsl(0, 100%, 74%);
}

/* Styling for input elements with success class */
.form-control input.success {
  border: 2px solid hsl(154, 59%, 51%);
}

/* Desktop-specific styles using media query */
@media (min-width: 768px) {
  /* Adjust layout, font sizes, spacing, etc. for desktop view */
  body {
    background: url(../images/bg-intro-desktop.png), hsl(0, 100%, 74%);
  }
  body main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Styling for the introduction section in desktop view */
  }
  body main .intro h1 {
    font-size: 3rem;
  }
}
/* Styling for specific link with ID "kumar" */
#kumar {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=styles.css.map */